*{
    padding: 0;
    margin: 0;
}
button,a{
    cursor: pointer;
}
nav{
    display: flex;
    margin: auto;
    justify-content: space-around;
    padding: 25px 0px;
    position: relative;

}
nav img{
    padding-left: 50px;
    animation-name: logo ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

@keyframes logo{
    30%{
        transform: translateX(30px);
    }
    60%{
        transform: translateX(0px);
    }
    90%{
        transform: translateX(-30px);
    }
}

nav ul{
    margin-right: 40px;
}
nav ul li{
    
   display: inline-block;
    padding-left: 30px;
   

}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: large;

}
nav ul li a::after{
   content: '';
   width: 0%;
   height: 3px;
   background-color: rgb(55, 55, 206);
   display: block;
   margin: auto;
   border-radius: 3px;
   transition:.7s;

   
}
nav ul li a:hover::after{
    width: 100%;
    
    
}

nav .fa-solid{
    padding-left: 10px;
    color: black;
    
}
nav .navBtn a{
    text-decoration: none;
    border: 1px solid rgb(224, 209, 209);
    padding: 10px 40px;
    margin-right: 33px;
    font-size: large;
    border-radius: 40px;
    color: black;
    font-weight: 600;
    transition: .7s;
}
nav .navBtn a:hover{
    background-color: rgb(55, 55, 206);
    color: aliceblue;
}



nav  h5{
    color: aliceblue;
    height: 15px; 
    width: 15px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(55, 55, 206);
    top: 11px;
    left: 1057px;
  
}
nav h5 span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.dropbtn{
    
    color: black;
    padding-left: 30px;
    font-size: 16px;
    border: none;
    background-color: white;
}

.dropdown{
    position: relative;
    display: inline-block;
    
}
.dropdown-content{
    display: none;
    position: absolute;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: rgb(54, 15, 224);
    color: white;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* header sction */
.header {
    width: 100%;
    height: 500px;
    background-color: rgb(206, 218, 221);
    margin: auto;
    margin-bottom: 100px;
    position: relative;
    
}

.header div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50% );
}

.header div h1{
    font-size: 50px;
    font-weight: 900;
    padding: 10px 0px;
}
.header div p{
    margin-left: 50px;
    font-size: large;
    color:dimgrey;
}


/*first section*/

.First-sec{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 100px;
}

.First-sec .first-col{
    flex-basis: 31%;
    background-image: url(../image/cat-post-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    color: #fff;
}

.First-sec .first-col .content{
    width: 75%;
    height: 200px;
    margin: auto;
    margin-top: 8%;
    background-color: rgba(7, 6, 6, 0.7);
    text-align: center;
    
    transition: .7s;
    cursor: pointer;
    

}
.First-sec .first-col .content h4 {
    width: 70%;
    margin: auto;
  padding-top: 70px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;

    
}
.First-sec .first-col .content:hover {
    background-color: rgba(29, 45, 184, 0.7);


}
/**/
.First-sec .second-col{
    flex-basis: 31%;
    background-image: url(../image/cat-post-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    color: #fff;
}

.First-sec .second-col .content{
    width: 75%;
    height: 200px;
    margin: auto;
    margin-top: 8%;
    background-color: rgba(7, 6, 6, 0.7);
    text-align: center;
    
    transition: .7s;
    cursor: pointer;
    

}
.First-sec .second-col .content h4 {
    width: 70%;
    margin: auto;
  padding-top: 70px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;

    
}
.First-sec .second-col .content:hover {
    background-color: rgba(29, 45, 184, 0.7);


}

.First-sec .third-col{
    flex-basis: 31%;
    background-image: url(../image/cat-post-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    color: #fff;
}

.First-sec .third-col .content{
    width: 75%;
    height: 200px;
    margin: auto;
    margin-top: 8%;
    background-color: rgba(7, 6, 6, 0.7);
    text-align: center;
    cursor: pointer;
    transition: .7s;
    

}
.First-sec .third-col .content h4 {
    width: 70%;
    margin: auto;
  padding-top: 70px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;

    
}
.First-sec .third-col .content:hover {
    background-color: rgba(29, 45, 184, 0.7);


}


/*second section */

.second-sec{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 100px;
}

.second-sec .left-col {
    flex-basis: 60%;
    
}
.second-sec .left-col .content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-right: 20px;
    transition: 1s;

} 
.second-sec .left-col .content:hover:not(.pages){
    transform: scale(1.009);
    box-shadow: 1px 1px 30px dimgray;
}



.second-sec .left-col .left-div{
    flex-basis: 40%;
   
    display:block;
    text-align: center;
    margin-right: 20px;
}
.second-sec .left-col .left-div span {
    color: blue;
}
.second-sec .left-col .left-div pre{
    padding:5px 5px ;
    line-height: 20px;
    font-weight: 600;
}

.second-sec .left-col .left-div pre{
    line-height: 25px;
    font-size: larger;
    font-weight: 600;
    color: dimgray;
    text-align: right;
    transition: .7s;
    cursor: pointer;
    
    
}

.second-sec .left-col .left-div pre:hover{
    color: blue;
}
 .second-sec .left-col .right-div h1{
     margin: 10px 0px;
     transition: .7s;
 }
 .second-sec .left-col .right-div h1:hover{
     color: blue;
 }
 .second-sec .left-col .right-div button{
     width: 150px;
     padding: 10px 5px;
     border-radius: 30px;
     background-color: rgb(223, 231, 233);
     margin-top: 20px;
     cursor: pointer;
     transition: .7s;
     
 }
 .second-sec .left-col .right-div button:hover{
     color: #fff;
     background-color: blue;
 }
 .second-sec .left-col .right-div .pages a {
     display: inline-block;
     margin-top: 50px;
     padding-left: 10px;
     font-size: x-large;
     text-decoration: none;
     cursor: pointer;
     color: dimgray;
     transition: .7s;
 }
 .second-sec .left-col .right-div .pages a:hover{
    
     background-color: blue;
     color: aliceblue;
     

 }
/**/
.second-sec .right-col{
    width: 37%;
    background-color: rgb(238, 241, 245);
    height: 2180px;

}

.right-col .main-content{
    width: 90%;
    margin: auto;
    
    padding-top: 50px;
    flex-direction: column;
    

}
.right-col .f-div .content {
    text-align: center;
}

.right-col .f-div .content form input{
    margin-bottom:20px ;
    padding: 10px 10px ;
    width: 300px;
    border: none;
    outline: none;
    background-color: blue;
    border-radius: 30px;
    color: #fff;
    font-size: large;
    
}
.right-col .f-div .content form {
    border-bottom:1px solid rgb(182, 181, 181) ;
    margin-bottom: 10px;
}

.right-col .f-div .content form input::placeholder{
    color: #fff;
}

.right-col .f-div .content form .fa-solid{
    position: relative;
    left: -35px;
    color: #fff;
}
.right-col .f-div .content h3{
    margin: 12px;
    font-size: larger;
}
.right-col .f-div .content p{
    font-size: 17px;
    color: dimgray;
    margin-bottom: 10px;
}
.right-col .f-div .content .fa-brands{
    color: black;
    padding-left: 10px;
    font-size: large;
    text-decoration: none;
    transition: .7s;
    margin-bottom: 20px;

}
.right-col .f-div .content .fa-brands:hover{
    color: blue;
    font-size: larger;
}
.right-col .f-div .content p{
    line-height: 25px;
}

.right-col .sec-div .content{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom:1px solid rgb(182, 181, 181) ;
    margin-bottom: 20px;
}
.right-col .sec-div .content .f{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    transition: 1s;
}
.right-col .sec-div .content .f:hover{
    transform: scale(1.04);
}

.right-col .sec-div .content h2{
    margin: auto;
    width: 100%;
    height: 20px;
    padding: 10px 0px;
    text-align: center;
    background-color: blue;
    color: #fff;
    margin-bottom: 30px;
   

}
.right-col .sec-div .content .f p{
    padding-top: 5px;
    color: dimgray;
    font-size: 17px;
}
.right-col .sec-div .content .f h3{
    transition: .7s;
}
.right-col .sec-div .content .f h3:hover{
    color: blue;
}

.right-col .third-div .content{
    width: 100%;
    height: 200px;
    background-color: white;

    position: relative;
    
    
    margin-top: 30px;
    margin-bottom: 30px;

}
.third-div {
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(182, 181, 181);
}
.right-col .third-div .content p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    color: rgb(168, 166, 166);
    font-size: larger;
    text-align: center;
    line-height: 25px;
    font-weight: 700;
    
}

.forth-div .content div{
    width: 100%;
    display: flex;
    justify-content: space-between;


}
.forth-div .content h2{
    margin: auto;
    width: 100%;
    height: 20px;
    padding: 10px 0px;
    text-align: center;
    background-color: blue;
    color: #fff;
    margin-bottom: 30px;
}

.forth-div .content div{
    font-size: large;
    margin-bottom: 12px;
    border-bottom: 1px solid rgb(182, 181, 181);
    padding-bottom: 12px;
    transition: .5s;

    
}
.forth-div .content div:hover{
    transform: scaleY(1.3);
    color: blue;
}

.fiftn-div .content{
    margin-top: 50px;
    border-top: 1px solid rgb(182, 181, 181);
    padding-top: 30px;

}

.fiftn-div .content h2{
    margin: auto;
    width: 100%;
    height: 20px;
    padding: 10px 0px;
    text-align: center;
    background-color: blue;
    color: #fff;
    margin-bottom: 30px;
}
.fiftn-div .content p{
    text-align: center;
    margin-bottom: 20px;
}

.fiftn-div .content input{
    width: 150px;
    height: 30px;
    padding: 5px 30px;
    border: none;
    outline: none;
    font-size: 17px;

}

.fiftn-div .content .fa-solid{
    position: relative;
    left: 30px;
    color: dimgray;
}


.fiftn-div .content button{
    width: 80px;
    height: 35px;
    padding: 5px 3px;
    background-color: blue;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    transition: .7s;

}
.fiftn-div .content button:hover{
    color: black;
    background-color: rgb(222, 222, 231);
}
.fiftn-div .content span{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}

.sixth-div .content{
    margin-top: 50px;
    border-top: 1px solid rgb(182, 181, 181);
    padding-top: 30px;

}
.sixth-div .content h2{

    margin: auto;
    width: 100%;
    height: 20px;
    padding: 10px 0px;
    text-align: center;
    background-color: blue;
    color: #fff;
    margin-bottom: 30px;
}
.sixth-div .content .clouds a{
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgb(207, 204, 204);
    padding: 3px 7px;
    margin-bottom: 10px;
    color: black;
    transition: .7s;


}
.sixth-div .content .clouds a:hover{
    background-color: blue;
    color: #fff;
    
}


/*third section */


.third-sec{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    position: relative;
}

.third-sec img{
    width:calc(100%/6) ;
}
.third-sec pre{
    width: 250px;
    padding: 15px 10px;
    background-color: #fff;
    position: absolute;
    top: 40%;
    left: 41%;
    text-decoration: none;

}


.third-sec a{
    text-decoration: none;
    font-size:17px;
    font-weight:700 ;
}
.third-sec a:hover , .third-sec pre:hover{
    color: #fff;
    background-color: blue;
}





/* footer section */

footer{
    width: 100%;
    height: 600px;
    display: flex;
    background-color: rgb(9, 9, 66);
    flex-wrap: wrap;
}

footer .first-col{
    flex-basis: 20%;
    margin-top: 170px;
    padding-left: 150px;
    
}
footer .first-col h1{
    color: aliceblue;
    margin-bottom: 20px;
    font-size:40px;
    
}
footer .first-col p{
    color: darkgray;
    line-height: 22px;
    word-spacing: 4px;
}

footer .second-col{
    flex-basis: 15%;
    margin-top: 180px;
    margin-left: 70px;
}

footer .second-col h1{
    color: aliceblue;
    margin-bottom: 20px;
    font-size:25px;
    
}
footer .second-col a{
    display: block;
    padding-top: 20px;
    text-decoration: none;
    color: gray;
}

footer .second-col a:hover{
    color: rgb(8, 8, 231);
}
footer .third-col{
    flex-basis: 15%;
    margin-top: 180px;
    margin-left: 50px;
}
footer .third-col h1{
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 25px;
}
footer .third-col img{
    padding: 7px;
}

.forth-col{
    
    flex-basis: 20%;
    
    margin-top: 180px;
    margin-left: 50px;
    
}

.forth-col h1{
    margin-bottom: 25px;
    font-size: 25px;
    color: aliceblue;
    
}
.forth-col div{
    display: flex;

}
.forth-col .fa-solid ,.forth-col .fa-brands{
    font-size: x-large;
    color: aliceblue;
    
}
footer .forth-col h4{
    padding-left: 10px;
    margin-bottom: 7px;
    color: aliceblue;

}

footer .forth-col p{
    padding-left: 10px;
    color: grey;
    margin-bottom: 10px;

}

footer .made-by{
    color: #fff;
    margin: auto;
}

